<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ApplicationIdCredentialsProvider" value="ikMXhoVsg2aN7waemDph~9ltJ9oxYx236c4lmhoh0nA~Akr7nIgXOhtlKy0joHn-I5waqq69TnrYpv4_F59gtC-kl5qxfDwp2US2nqHABYAi" />
    <add key="LoadPathCSV" value="C:\Report\" />
    <add key="LoadNameCSV" value="capture" />
    <add key="SaveImagePath" value="C:\Report\" />
    <add key="SaveImageName" value="capture" />
    <add key="SaveImageExtention" value="png" />
    <add key="AutoCapture" value="True" />
    <add key="CaptureLoadTimer" value="800" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>